.skill-item {
  position: relative;

  overflow: hidden;

  &__image {
    transition: transform 0.5s;

    background-color: $color-primary;
    background-image: url(../img/no-image.png);
    background-position: center;
    background-size: cover;

    @include abs-position;
  }

  &__title {
    z-index: 1;

    height: 100%;
    margin: 0;

    letter-spacing: 0.1em;

    @include abs-position;
    @include md-min {
      font-size: 1.25rem;
    }
    @include md {
      font-size: 1.125rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: $gap;

    transition: color 0.25s;
  }

  &__overlay {
    transition: opacity 0.25s;

    opacity: 0.8;
    background-color: $color-primary;

    @include abs-position;
  }

  &:hover {
    .skill-item__image {
      transform: scale(1.1);
    }

    .skill-item__link {
      color: $color-accent;
    }

    .skill-item__overlay {
      opacity: 0.95 !important;
    }
  }
}

@for $i from 1 through 9 {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
